[submodule "PPTCopilot-backend"]
	path = PPTCopilot-backend
	url = https://github.com/hughdazz/PPTCopilotBackend.git
[submodule "PPTCopilot-project"]
	path = PPTCopilot-project
	url = https://github.com/hughdazz/PPTCopilotEditor.git
[submodule "PPTCopilot-editor"]
	path = PPTCopilot-editor
	url = https://github.com/hughdazz/PPTCopilotProject.git
